<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ea95f2ff-8816-407f-a033-193334d65b23/resourcegroups/dotnetlinux/providers/Microsoft.Web/sites/asplinuxapp20230110121221</ResourceId>
    <ResourceGroup>dotnetlinux</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://asplinuxapp20230110121221.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cdffa827-1e01-422a-b1ae-68bb90585b77</ProjectGuid>
    <PublishUrl>https://asplinuxapp20230110121221.scm.azurewebsites.net/</PublishUrl>
    <UserName>$asplinuxapp20230110121221</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>